.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {

    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*  */


md-content.md-default-theme {
  background-color: #FFFFFF;
}

md-content.md-back-theme {
  background-color: #EEEEEE;
}

md-content.md-back2-theme {
  background-color: #E5E5E5;
}

/*Search Bar*/

.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: blue; }


.tablaQSeVe{
	color:black;
}

.palabrasCabeceraConvenio{
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.container{
	width:100%;
  	max-width: 100%;
  	padding: 0;
}

#contenido{
	background-color:#E5E5E5;
}

.banner{
	/*background-color:rgb(66,66,66);*/
}

.fondoNegro{
	/*background-color:black;*/
}

#content{
	/*background-color:black;*/
}

#ventanaCargadoraDeConvenios{
	width:100%;
	height:100%;
	max-width: 90%!important;
	
}

md-dialog{
	opacity: 1!important;
}

md-select-label{
	opacity: 1!important;
}

inputDatePicker{
	width:77px!important;
}

#tab-content-1{
    overflow: auto;
    height: 100%;
}

#tab-content-2{
    overflow: auto;
    height: 100%;
}

#tableContainer{
}

/*ARREGLO DATEPICEKR*/
.ui-datepicker-header {
    background-color: blue;
    color: green;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}
/*FIN ARREGLO DATEPICKER*/

.rowAgreement:hover .agreementIcon{
	 opacity: 0.9;
}

.agreementIcon{
	opacity: 0;
}

.agreementIcon:hover{
	cursor:pointer;
}

.md-button.wizard-chevron-left , .md-button.wizard-chevron-right, .md-button.wizard-finish{
  background-color: #FFFFFF !important;
  top: 28px;
  right: 10px;
  margin: 3px;
  position: relative;
  width: 36px !important;
  height: 36px !important;
}
.md-button.wizard-chevron-left{
  background-image: url('/images/chevron_white_left.png');
}
.md-button.wizard-chevron-right{
  background-image: url('/images/chevron_white_right.png');
}

.md-button.wizard-finish{
  background-image: url('/images/ok.png');
}

.toolbar-button{
  min-width: 50px;
  margin: 0px;
}

.md-whiteframe-z1{
	box-shadow:none!important;
}

#rightButton{
	background-color: #00BCD4!important;
}

#leftButton{
	background-color: #00BCD4!important;
}

#okButton{
	background-color: green!important;
}

h3{
	color:#00BCD4;
}
/*
.md-left{
  background-color: #00BCD4;
}

.md-right{
  background-color: #00BCD4;
}*/

label{
  font-size: 12pt;
}

.universityDeleted{
  opacity: 0.58;
  text-decoration: line-through;
}