  <div layout="row" ng-controller="KunturControllerAle as ul" id="contenido" style="height: 100%;">
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z0" style="height: 100%;">

    <md-toolbar layout="row" class="md-whiteframe-z2 banner" ng-show="!showSearch">
      <div class="md-toolbar-tools" style="padding: 0px 50px;">
      	<div style="width: 54px;margin-right: 2px;">
      		<img style="width: 54px;margin-right: 2px;max-width: 54px;" src="images/kuntur_blanco.png"></img>
      	</div>
        <div style="width: 100%;cursor: pointer;padding-left: 5px;" ng-click="resetSearch()">
          Gestión de acuerdos
        </div>
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Mostrar Universidades">
       <md-icon md-svg-icon="menu" ></md-icon>
      </md-button >

       <span flex ></span>

          <md-button class="menu toolbar-button" aria-label="Search" ng-click="showSearch=!showSearch" style="padding-top: 5px; min-width:50px; margin:0px;">
            <ng-md-icon icon="search" style="fill:white" size="30" ></ng-md-icon>
            <md-tooltip md-direction="left" >
              Buscar acuerdo
            </md-tooltip>
          </md-button>  


          <!-- <md-button class="menu toolbar-button" aria-label="Search" ng-click="changeView()" style="min-width:50px; margin:0px;">
            <md-tooltip md-delay='800'>
              <span ng-if='!agreementFilter.showErased'>
                Mostrar eliminados
              </span>
              <span ng-if='agreementFilter.showErased'>
                Ocultar eliminados 
              </span>
            </md-tooltip>
            <md-icon ng-if='!agreementFilter.showErased' md-font-library="material-icons" >delete</md-icon>
            <md-icon ng-if='agreementFilter.showErased'  md-svg-icon="images/ic_delete_open_white_24px.svg"></md-icon>
          </md-button> -->
      </div>

    </md-toolbar>


    <md-toolbar class="md-hue-1 md-whiteframe-z2" ng-show="showSearch" style="background-color:white">
      <div class="md-toolbar-tools" style="padding: 0px 50px;">
      <div style="width: 54px;margin-right: 2px;">
          <img src="images/kuntur.png"></img>
        </div>
          <md-button class="menu toolbar-button" ng-click="cleanSearch();" aria-label="Back" style="padding-top: 4px; min-width:58px; margin:0px;">
            <ng-md-icon icon="arrow_back" style="fill:black" size="30" ></ng-md-icon>
          </md-button>
          
            <label>&nbsp;</label>
          <md-input-container md-theme="input" flex md-no-float style="padding-top: 22px;">
            <input ng-keypress="onEnter($event, buscar);" ng-model="agreementFilter.cadenaBuscada" placeholder="Buscar acuerdo..." show-focus="showSearch" >
          </md-input-container>
       <!--    <md-button class="menu toolbar-button" aria-label="Search" ng-click="changeView()" style="min-width:58px; margin:0px;">
            <md-tooltip md-delay='800'>
              <span ng-if='!agreementFilter.showErased'>
                Mostrar eliminados
              </span>
              <span ng-if='agreementFilter.showErased'>
                Ocultar eliminados
              </span>
            </md-tooltip>
            <md-icon ng-if='!agreementFilter.showErased' md-font-library="material-icons" >delete</md-icon>
            <md-icon ng-if='agreementFilter.showErased'  md-svg-icon="images/ic_delete_open_black_24px.svg"></md-icon>
          </md-button> -->
        <!--   <md-button class="menu" aria-label="Search" ng-click="buscar();" style="padding-top: 4px">
            <ng-md-icon icon="search" style="fill:black" size="30"></ng-md-icon>
          </md-button>
 -->          


      </div>


    </md-toolbar>







    <md-content flex id="content" class="md-back2-theme" style="height: 100%;" when-scroll-ends="loadAgreements()">
      <md-button class="md-fab  md-fab-bottom-right" aria-label="Agregar Convenio" style="position:fixed" ng-click="showAdd($event)">
      <md-icon md-svg-icon="images/add.svg" style="fill:white; margin-left:-4px"></md-icon>
      <md-icon md-svg-icon="images/img_agreement.svg" style="fill: white;margin-left: -8px;"></md-icon>
      <md-tooltip md-direction="left" >
        Agregar acuerdo
      </md-tooltip>
    </md-button>

    <div id="tableContainer">
      <!-- Responsive table starts here -->
      <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
      <div class="table-responsive-vertical shadow-z-1" style="height: 100%;">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue" style="height: 100%;">
          <thead>
            <tr>
            	<th>N°</th>
              <th>Título</th>
              <th>Tipo</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Estado</th>
              <th>Universidades</th>
              <th></th>
            </tr>
          </thead>
          <tbody style="font-weight: 400;">
            <tr ng-repeat="university in universities" ng-click="toggleRight();getAgreementData(university);" class="rowAgreement" ng-class="{'intouchableAgreement': university.convenios>=1}">
            	<td data-title="Número">{{university.number_agreement}}</td>
              <!-- <td data-title="Titulo"><a href="#" onaftersave="updateAgreement(university)" editable-text="university.title" ng-click="$event.stopPropagation();">{{university.title}}</a></td> -->
              <td data-title="Título">{{university.title}}</td>
             <!--  <td data-title="Tipo"><a href="#" onaftersave="updateAgreement(university)" editable-select="university.agreement_type_id" onshow="loadTypes()" ng-click="$event.stopPropagation();" 
              e-ng-options="g.id as g.name for g in typesAvaibles">{{university.agreement_type_name}}</a></td> -->
         <!--      <td data-title="Tipo">{{university.agreement_type_name}}</td>
              <td data-title="Desde"><a style="width:77px;" href="#" editable-bsdate="university.from_date" onaftersave="updateAgreement(university)" ng-click="$event.stopPropagation();">{{university.from_date | date:'dd-MM-yyyy'}}
              </a></td>
              <td data-title="Hasta"><a style="width:77px;" href="#" onaftersave="updateAgreement(university)" editable-bsdate="university.to_date" ng-click="$event.stopPropagation();">{{university.to_date | date:'dd-MM-yyyy'}}
              </a></td>
              <td data-title="Estado"><a href="#" onaftersave="updateAgreement(university)" editable-select="university.agreement_status_id" onshow="loadStatus()" ng-click="$event.stopPropagation();" 
              e-ng-options="g.id as g.name for g in statusAvaibles">{{university.agreement_status_name}}</a></td> -->
              <td data-title="Tipo">{{university.agreement_type_name}}</td>
              <td data-title="Desde">{{university.from_date | date:'dd-MM-yyyy'}}</td>
              <td data-title="Hasta">{{university.to_date | date:'dd-MM-yyyy'}}</td>
              <td data-title="Estado">{{university.agreement_status_name}}</td>
              <td data-title="Universidades">{{university.orgs}}</td>
              <td ng-if='university.convenios<1'>
                <md-icon class="agreementIcon" md-font-library="material-icons" style="margin-right:4px" ng-click="$event.stopPropagation();modResponsables($event,university)">edit</md-icon>
                <md-icon class="agreementIcon" md-font-library="material-icons" style="margin-right:-12px" ng-click="$event.stopPropagation();deleteAgreement(university)">delete</md-icon>
              </td>
              <td ng-if='university.convenios>=1'>
              </td>
      
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    </md-content>

  </div>


  <!-- TOGGLE RIGHT-->

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="margin-top:64px;min-width:65%; overflow:hidden;">

      <md-toolbar class="md-theme-light banner">
        <md-list>
          <md-list-item class="md-3-line">

        </md-list-item>
        	<b style="margin-left:20px;">Acuerdo N° {{convenioSeleccionado.nro}}</b>
        	<b style="margin-left:20px;">{{convenioSeleccionado.nombre}}</b>
          <!--<md-button  ng-click="modResponsables()">Modificar</md-button>-->
        </md-list>

      </md-toolbar>

      <div style="height:100%;"><!--"-->
      <md-tabs md-dynamic-height="true" md-border-bottom="" class="kunturTabs" md-stretch-tabs="always" style="min-height:100%;height:100%!important;overflow:auto;" ><!-- -->

        <md-tab label="Plazas" style="height:100%;overflow:auto;">
          <md-content class="md-padding md-back-theme flex-container" style="height:100%;">

              <div class="palabrasCabeceraConvenio" ng-if="convenioSeleccionado.cantidad>1">{{convenioSeleccionado.tipo}} entre Universidad Nacional de Córdoba (UNC) y las siguientes {{convenioSeleccionado.cantidad}} universidades:</div>
              <div class="palabrasCabeceraConvenio" ng-if="convenioSeleccionado.cantidad==1">{{convenioSeleccionado.tipo}} entre Universidad Nacional de Córdoba (UNC) y la siguiente universidad:</div>
          
             <table id="tableDataPlazas" class="tablaQSeVe table table-hover table-mc-light-blue" style="height:100%;">
                    <thead>
                      <tr>
                        <th ng-repeat="(key, data) in plazas.datos[0] track by $index">{{key}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="plaza in plazas.datos">
                        <td data-title="Titulo" ng-repeat="(key, data) in plaza track by $index">
                        {{data}}</td>
                      </tr>
                    </tbody>
             </table>
        </md-content>

        </md-tab>

        <md-tab label="Responsables">
          <md-content class="md-padding">
            
             <table id="tablaResponsables" class="tablaQSeVe table table-hover table-mc-light-blue">
                    <thead>
                      <tr>
                        <th>Universidad</th>
                        <th>Sigla</th>
                        <th>In</th>
                        <th>Out</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="responsable in convenioSeleccionado.responsables">
                        <td data-title="Universidad">{{responsable.org_original_name}}</td>
                        <td data-title="Abreviacion">{{responsable.org_short_name}}</td>
                        <td data-title="In"><div ng-repeat="receiver in responsable.reception_student"> {{receiver.name}} <md-tooltip md-direction="left" >{{receiver.tel}} | {{receiver.email}} </md-tooltip></div></td>
                        <td data-title="Out"><div ng-repeat="sender in responsable.sending_student"> {{sender.name}} <md-tooltip md-direction="left" >{{sender.tel}} |
                        {{sender.email}}</md-tooltip></div> </td>
                      </tr>
                    </tbody>
             </table>
             
        </md-content>
        </md-tab>

      </md-tabs>

      </div>


       
      

    </md-sidenav>
    </div>
