<md-dialog aria-label="Mango (Fruit)" id="ventanaCargadoraDeConvenios" style="overflow:auto;">	
	<div style="position: absolute;left: 98%;top:4px;cursor:pointer;size:10px;" ng-click="cancelAgreement();"><i style="font-size:15px" class="material-icons">clear</i></div>
	<mt-wizard btn-progress-color="#D8D8D8" style="height:100%;display:flex;width:100%;" btn-bg-color="#FAFAFA" active-btn-bg-color="#E9E9E9" chevrons-always-visible="true" 
   on-finish="submitAgreement()" principal-title="Asistente para la edición de acuerdos" index="wizardIndice">
		 
		<mt-wz-step title="Paso 1: Datos principales del acuerdo" step-img="images/ic_settings_white_24px.svg"   on-exit="onExitStep1()" >
        <form name="formStep1"  novalidate layout="column" layout-sm="column" layout-align="start start" ng-if="wizardIndice==0 || wizardIndice==null">
        	<div layout-sm="column" style="height:100%;margin:auto;">

           <div layout="row">
           	<table>
          		<tr>
          			<td style="width:50%">
			           <md-input-container >
			             <label>Nombre</label> <input ng-model="newAgreement.title"/>
			           </md-input-container>
			        </td>
		         </tr>
	         </table> 
           </div>
           <div layout="row">
            <table>
          		<tr>
          			<td style="width:50%">
			           <md-input-container >
			             <label>Fecha desde</label><input ng-model="newAgreement.from_date" type="text" label="desde" datepicker=""/>
			           </md-input-container>
			        </td>
			        <td style="width:50%">
			           <md-input-container >
			             <!-- <label>Fecha hasta</label><input ng-model="newAgreement.to" type="text"/> -->
			             <label>Fecha hasta</label><input type="text"  ng-model="newAgreement.to_date" datepicker=""/>
			             <!-- <time-date-picker ng-model="dateValue"></time-date-picker> -->
			           </md-input-container>
					 </td>
		         </tr>
	         </table> 
           </div>
           <div style="height:100%;width:100%">

          	<table style="width:100%">
          		<tr>
          			<td style="width:50%">
			           <md-input-container style="height:100%;">
			            	<md-select style="height:100%;" placeholder="Tipo" ng-model="newAgreement.agreement_type_id" aria-label="1"> 
			            	<md-option ng-repeat="tipo in agreementsTypes" value="{{tipo.id}}">{{tipo.name}}</md-option></md-select>
			           </md-input-container>
			        </td>
			        <td style="width:50%">
			            <md-input-container style="height:100%;">
			          		<md-select style="height:100%;" ng-model="newAgreement.agreement_status_id" aria-label="1">
			          		<md-option ng-repeat="sta in estados" value="{{sta.id}}">{{sta.name}}</md-option> </md-select>
			          	</md-input-container>
			        </td>
		         </tr>
	         </table> 
           </div>
           </div>
          </form>
    </mt-wz-step>

	    <mt-wz-step title="Paso 2: Asignación de universidades" step-img="images/ic_account_balance_white_24px.svg" style="display:flex;height:100%">

	   		<div layout="row" style="font-size: 1rem;display:flex;height:100%;width:100%" ><!--margin-top:60px;-->
	   		    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
   		    <div style="height:100%;overflow:auto;" >
	   		    
				<div>
					<md-button md-no-ink ng-click="removeFilters();" class="md-primary">Quitar Filtros</md-button>
				</div>
		    	<div style="display:flex;">
			    	<div style="display:flex;overflow:auto;"><!-- style="height: 100%;
	  					position:static;" -->
				    	<ul class="unstyled minimized fade" > 
				        <li ng-repeat="continent in continents">
				          <a href="#" class="waves-effect list-item base-padding"  style="padding-left:16px">
				            <div class="pull-left truncate" style="font-size: 1rem;">
				              <ng-md-icon icon="public" style="fill:#00BCD4" size="14" ></ng-md-icon> {{continent.name}}
				            </div>
				            <div class="pull-right">
				              <i class="icon icon-arrow-down6 toggle" data-class="icon-arrow-down6" data-altclass="icon-arrow-up5"></i>
				            </div>
				          </a>
				          <ul >
				            <li ng-repeat="country in continent.countries" >
				              <a href="" class="waves-effect list-item base-padding" ng-click="searchUniversityCountry(country.code_iso_alfa3, country.common_name, country.flag)"><!--ng-click="searchByCountry(country.code_iso_alfa3)"-->
				                <div class="pull-left truncate">
				                	<img ng-src="{{country.flag}}" style="display:inline;width: 22px;">{{country.common_name}}
				                </div>
				              </a>
				            </li> <!-- cierre de pais -->
				          </ul>  <!-- cierre de lista de paises -->
				        </li> <!-- cierre de continente -->
				      </ul> <!-- cierre de lista de continentes -->
			    	</div>
		    </div>
		    </div>
		    </md-sidenav>
		    <div layout="column" style="height:100%;z-index:30;" flex="100">
				<div layout="column" ><!--style="height:100%"-->
				   	<md-input-container layout="row">
				   	  <md-button ng-click="toggleLeft()"
		            	class="md-primary" aria-label="1">
		            	<md-icon md-svg-icon="images/ic_public_black_24px.svg" style="fill:#00BCD4"></md-icon>
	          		  </md-button>
				      <div><label>Buscar universidad</label>
				      <input ng-model="newAgreement.UniversitySearch" ng-keypress="$root.onEnter($event, searchUniversity);"></div>
		              <div style="padding-top: 15px;"><ng-md-icon icon="search" style="fill:#00BCD4" ng-click="searchUniversity()" size="30" ></ng-md-icon></div>
	          		  <!-- <div ng-if="universitiesFilter.countryCode!=null" style="margin:auto;font-size:12pt;">Mostrando universidades de {{universitiesFilter.countryCode}}</div> -->
				    </md-input-container>
				     <div layout="row" layout-align="space-between center">
					    <div ng-if="universitiesFilter.countryCode==null" style="color:#00BCD4">
					    Listado de universidades del mundo
						</div>
						<div ng-if="universitiesFilter.countryCode!=null" style="color:#00BCD4">
					    	Listado de universidades de {{universitiesFilter.name}} <img ng-src="{{universitiesFilter.flag}}" style="display:inline;width: 22px;"><span style="font-size: 7pt;font-weight: 300;text-decoration: underline;cursor: pointer;" ng-click="removeFilters();" >(Quitar filtro)</span>
						</div>
						<div style="color:#00BCD4">
							Universidades que has añadido a este acuerdo
						</div>
					</div>
				</div>
			    <div layout="row" style="height:74%;">
			    	<div flex="50" id="universitiesContainer" style="overflow:auto;border:1px solid;border-color: #C7C7C7;" when-scroll-ends="loadUniversities()">
			    		{{universities.name}}
			    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" style="z-index:10;">
						    <thead>
						        <tr>
						            <th data-title="Universidad" style="color:#00BCD4" width="70%">Universidad</th>
						            <th data-title="País" style="color:#00BCD4" width="20%">Sigla</th>
						            <th data-title="Agregar" style="color:#00BCD4" width="10%">Agregar</th>
						            <!-- <th data-title="País" >País</th> -->
						        </tr>
						    </thead>
						    <tbody id="universityBody" >
							    <tr ng-repeat="university in universities" ng-if="university.primary_org!=true">
							        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
							            {{university.original_name}}
							        </td>
							        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
							            {{university.short_name}}
							        </td>
							   <!--      <td data-title="País" style="padding-left:0px; padding-right:0px;" >
								        <img ng-src="images/flags/{{university.country_code | lowercase}}.gif " style="display:inline"/>
							        </td> -->
							        <td><ng-md-icon icon="add" style="fill:#00BCD4;cursor:pointer;" size="30" ng-click="addContryToAgreement(university)"></ng-md-icon></div></td>
							    </tr>
							</tbody>
						</table>
			    	</div>
			    	<div flex="50" style="overflow:auto;border:1px solid;border-color: #C7C7C7;" >
			    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" style="z-index:10;">
						    <thead>
						        <tr>
						            <th data-title="Universidad"  style="color:#00BCD4" width="70%">Universidad</th>
						            <th data-title="País" style="color:#00BCD4" width="20%">Sigla</th>
						            <th data-title="Agregar" style="color:#00BCD4" width="10%">Quitar</th>
						            <!-- <th data-title="País" >País</th> -->
						        </tr>
						    </thead>
						    <tbody id="universityBody">
							    <tr ng-repeat="university in newAgreement.universities" >
							        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
							            {{university.original_name}}
							        </td>
							        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
							            {{university.short_name}}
							        </td>
							 <!--        <td data-title="País" style="padding-left:0px; padding-right:0px;" >
								        <img ng-src="images/flags/{{university.country_code | lowercase}}.gif " style="display:inline">
							        </td> -->
							        <td><ng-md-icon icon="undo" style="fill:#00BCD4;cursor:pointer;" size="30" ng-click="removeContryToAgreement(university)"></ng-md-icon></div></td>
							    </tr>
							</tbody>
						</table>
			    	</div>
			    	</div>
		    	</div>
	    	</div>
	    </mt-wz-step>
   		<mt-wz-step title="Paso 3: Asignación de responsables" step-img="images/ic_person_white_24px.svg" style="height:100%;" on-exit="onExitStep1()" >
			<div layout="row" style="height:100%;" ng-if="newAgreement.universities != 0" ng-if="wizardIndice==2">
				<div style="overflow:auto;height:100%;margin:auto;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
					    <thead>
					        <tr>
					            <th data-title="País" style="color:#00BCD4">Institución</th>
					         	<th data-title="País" style="color:#00BCD4">Sigla</th>
					            <th data-title="País" style="color:#00BCD4">Página web</th>
					            <th data-title="Universidad" style="color:#00BCD4" >Nombre</th>
					            <th data-title="País" style="color:#00BCD4">Apellido</th>		           
					            <th data-title="País" style="color:#00BCD4">In</th>
					            <th data-title="País" style="color:#00BCD4">Out</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody">
						    <tr ng-repeat="contact in newAgreement.Contacts track by $index" ng-class="{'noContact': !contact.in && !contact.out, 'yesContact': contact.in || contact.out}">
						   		<td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.org_original_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.org_short_name}}
						        </td>		
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            <a href="http://{{contact.org_web_site}}" target="_blank">{{contact.org_web_site}}</a>
						        </td>	
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_given_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_family_name}}
						        </td>
						        <td>
						        	<md-checkbox ng-model="contact.in" ng-click="selectContact(contact)" aria-label="Checkbox 1">
	    							</md-checkbox>
	    						</td>
	    						<td>
						        	<md-checkbox ng-model="contact.out" ng-click="selectContact(contact)" aria-label="Checkbox 1">
	    							</md-checkbox>
	    						</td>
						    </tr>
						</tbody>
					</table>
		    	</div>
		    </div>
		    <div class="general-info-div" layout="column" layout-align="center center" style="overflow:auto;height:100%;width:100%;" ng-if="newAgreement.universities == 0 ">
            	<div style="margin-bottom:12px">
            		<img src="/images/empty_university.png">
            	</div>
            	<div>
            		<p align="center" class="md-display-1" style="color:darkgray;margin:0px">
               			Ningún responsable asociado
            		</p>
            		<p align="center" class="md-subhead " style="color:darkgray">
               			Añade universidades
            		</p>
            	</div>
          	</div>
		</mt-wz-step>

	    <mt-wz-step title="Paso 4: Asignación de unidades académicas" step-img="images/ic_school_white_24px.svg" style="height:100%;">
    		<div layout="row" style="height:95%;" ng-if="wizardIndice==3">
		    	<div flex="50" style="overflow:auto;"
					  data-tree-id="arbol"
					  data-angular-treeview="true" 
				      data-tree-model="orgsTree" 
				      data-node-id="id" 
				      data-node-label="original_name" 
				      data-node-children="children">
		    	</div>
		    	<div style="width:100%;height:100%;overflow:auto;">
			    	<div style="color:#00BCD4">
				    	Unidades académicas que has añadido a este acuerdo
				    </div>
			    	<div flex="50" style="overflow:auto;border:1px solid;border-color: #C7C7C7;">
			    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
						    <thead>
						        <tr>
						            <th data-title="Universidad"  style="color:#00BCD4">Unidad académica</th>
						            <th data-title="País" style="color:#00BCD4">Sigla</th>
						            <th data-title="País" style="color:#00BCD4">Quitar</th>
						        </tr>
						    </thead>
						    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
							    <tr ng-repeat="org in newAgreement.selectedOrgs2Lvl track by $index" >
							        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
							            {{org.short_name}}
							        </td>
							        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
							            {{org.short_name}}
							        </td>
							        <td><ng-md-icon icon="undo" style="fill:#00BCD4;cursor:pointer;" size="30" ng-click="removeOrg2LvlFromAgreement(org)"></ng-md-icon></div></td>
							    </tr>
							</tbody>
						</table>
			    	</div>
			    </div>
		    </div>

    </mt-wz-step>

    <mt-wz-step title="Paso 5: Asignación de plazas" step-img="images/img_agreement.svg" style="height:100%;overflow:auto;">
    	<div style="height:100%;" ng-if="newAgreement.universities.length != 0" ng-if="wizardIndice==4">
	        <table id="tableDataPlazas" class="tablaQSeVe table table-hover table-mc-light-blue">
	            <thead>
	                <tr>
	                	<th></th>
	                	<th style="color:#00BCD4">UNC</th>
	                    <th style="color:#00BCD4" ng-repeat="(key, data) in newAgreement.selectedOrgs2Lvl track by $index">{{data.short_name}}</th>
	                </tr>
	            </thead>
	            <tbody>
	            <form name="plazasForm">
	                <tr ng-repeat="(key, data) in newAgreement.universities">
	                	<td>{{data.short_name}}</td>
	                	<td>
	                		<div layout="row">	
								<md-input-container style="width:50px;"><input name="newAgreement.plazasInUNC{{$index}}" ng-model="newAgreement.plazasIn[data.id]['UNC']" 
								onkeydown='allowNumericInputOnly(event)' style="text-align: center;" class="inputPlazas inInput" aria-label="1">
								</input></md-input-container> _ 
								<md-input-container style="width:50px;"><input name="newAgreement.plazasInUNC{{$index}}" ng-model="newAgreement.plazasOut[data.id]['UNC']" 
								onkeydown='allowNumericInputOnly(event)' style="text-align: center;" class="inputPlazas outInput" aria-label="1">
								</input></md-input-container>
	                		</div>
	                	</td>
	                	<td ng-repeat="(key, data) in newAgreement.selectedOrgs2Lvl track by $index">
	                		<div layout="row">
							 	<md-input-container style="width:50px;"><input name="newAgreement.plazasIn{{$parent.$index}}{{$index}}" ng-model="newAgreement.plazasIn[$parent.data.id][data.org_id]" style="text-align: center;" class="inputPlazas inInput"
							 	onkeydown='allowNumericInputOnly(event)' aria-label="1">
							 	</input></md-input-container> _
							 	<md-input-container style="width:50px;"><input name="newAgreement.plazasOut{{$parent.$index}}{{$index}}" ng-model="newAgreement.plazasOut[$parent.data.id][data.org_id]" style="text-align: center;" class="inputPlazas outInput"
							 	 onkeydown='allowNumericInputOnly(event)' aria-label="1">
							 	</input></md-input-container>
							</div>
	                	</td>
	                    <!--<td data-title="Titulo" ng-repeat="(key, data) in newAgreement.universities track by $index">{{data.short_name}}</td>-->
	                </tr>
	            </form>
	           
	            </tbody>
	        </table>
	        <div layout="row" style="font-size: smaller;">In <div style="height: 8px;width:8px;background-color:green;margin: 5px;"></div> Out <div style="height: 8px;width:8px;background-color:#C27ACE;    margin: 5px;"></div></div>
        </div>
       	<div class="general-info-div" layout="column" layout-align="center center" style="overflow:auto;height:100%;width:100%;" 
	   	ng-if="newAgreement.universities.length < 1">
        	<div style="margin-bottom:12px">
        		<img src="/images/empty_university.png">
        	</div>
        	<div>
        		<p align="center" class="md-display-1" style="color:darkgray;margin:0px">
           			Ningúna universidad asociada
        		</p>
        		<p align="center" class="md-subhead " style="color:darkgray">
           			Añade Universidades
        		</p>
        	</div>
        </div>


    </mt-wz-step>
    <mt-wz-step title="Paso 6: Confirmación" step-img="images/ic_done_white_24px.svg" style="height:100%;overflow:auto;">
  		<div ng-if="wizardIndice==5" style="margin:auto;text-align: center;"><p>¿Esta seguro de modificar el acuerdo {{newAgreement.title}} con {{newAgreement.universities.length}} <span ng-if="newAgreement.universities.length!=1">universidades</span><span ng-if="newAgreement.universities.length==1">universidad</span>?<br>
	  		
			  Si esta seguro presione el botón verde para completar<br>
			 Si quiere volver a un paso anterior presione el botón azul de la izquierda<br>
			  Para salir sin guardar presione la x de la parte superior derecha</p>
			
		</div>
  	</mt-wz-step>


	</mt-wizard>
</md-dialog>
