<md-dialog aria-label="Mango (Fruit)" id="ventanaCargadoraDeConvenios" style="overflow:auto;">
<div style="display:flex; height:90%" ng-controller="KunturControllerChicos">

   <mt-wizard on-finish="onFinish()" btn-progress-color="#D8D8D8" style="height:100%;display:flex;width:100%;" btn-bg-color="#FAFAFA" active-btn-bg-color="#E9E9E9" chevrons-always-visible="true" on-finish="submit()">
    <mt-wz-step title="Step 1" step-img="views/step1.svg"   on-exit="onExitStep1()" >
        <form name="formStep1"  novalidate layout="column" layout-sm="column" layout-align="start start">
        	<div layout-sm="column">

           <div layout="row">
           <md-input-container >
             <label>Nombre</label> <input ng-model="newAgreement.name"/>
           </md-input-container>
           <md-input-container >
             <label>Codigo</label> <input ng-model="newAgreement.code"/>
           </md-input-container>
           </div>
           <div layout="row">
           <md-input-container >
             <label>Fecha desde</label><input ng-model="newAgreement.from" type="text" label="desde"/>
           </md-input-container>
           <md-input-container >
             <label>Fecha hasta</label><input ng-model="newAgreement.to" type="text"/>
           </md-input-container>
           </div>
           <div>
          	 <div>
	           <md-input-container >
	            	<md-select placeholder="Tipo" ng-model="newAgreement.type"> <md-option ng-repeat="tipo in agreementsTypes" value="{{tipo.id}}">{{tipo.name}}</md-option></md-select>
	           </md-input-container>
	          </div>
	          <div>
	            <md-input-container>
	          		<md-select placeholder="Estado" ng-model="newAgreement.status">
	          		<md-option ng-repeat="sta in estados" value="{{sta.id}}">{{sta.name}}</md-option> </md-select>
	           </md-input-container>
	          </div>
           </div>
           </div>
          </form>
    </mt-wz-step>
    <mt-wz-step title="Step 2" step-img="views/step2.svg" style="display:flex;height:100%">

   		<div layout="row" style="font-size: 1rem;display:flex;height:100%;width:100%"><!--margin-top:60px;-->
   		    <div style="height:100%;overflow:auto;" flex="20">
	   		    <div layout="column" ><!--style="height:100%"-->
				   	<md-input-container layout="row">
				      <div><label>Title</label>
				      <input ng-model="newAgreement.UniversitySearch"></div>
		              <div style="padding-top: 15px;"><ng-md-icon icon="search" style="fill:#00BCD4" ng-click="searchUniversity()" size="30" ></ng-md-icon></div>
				    </md-input-container>
				</div>
				<div>
					<md-button md-no-ink ng-click="removeFilters();" class="md-primary">Quitar Filtros</md-button>
				</div>
		    	<div style="display:flex;">
			    	<div style="display:flex;overflow:auto;"><!-- style="height: 100%;
	  					position:static;" -->
				    	<ul class="unstyled minimized fade" > 
				        <li ng-repeat="continent in continents">
				          <a href="#" class="waves-effect list-item base-padding"  style="padding-left:16px">
				            <div class="pull-left truncate" style="font-size: 1rem;">
				              <ng-md-icon icon="public" style="fill:#00BCD4" size="14" ></ng-md-icon> {{continent.name}}
				            </div>
				            <div class="pull-right">
				              <i class="icon icon-arrow-down6 toggle" data-class="icon-arrow-down6" data-altclass="icon-arrow-up5"></i>
				            </div>
				          </a>
				          <ul >
				            <li ng-repeat="country in continent.countries" >
				              <a href="" class="waves-effect list-item base-padding" ng-click="searchUniversityCountry(country.code_iso_alfa3)"><!--ng-click="searchByCountry(country.code_iso_alfa3)"-->
				                <div class="pull-left truncate" style="font-size: 1rem;">
				                  <ng-md-icon icon="flag" style="fill:#00BCD4" size="14" ></ng-md-icon> {{country.common_name}}
				                </div>
				              </a>
				            </li> <!-- cierre de pais -->
				          </ul>  <!-- cierre de lista de paises -->
				        </li> <!-- cierre de continente -->
				      </ul> <!-- cierre de lista de continentes -->
			    	</div>
		    </div>
		    </div>
		    <div layout="row" style="height:100%;z-index:30;" flex="80">
		    	<div flex="50" style="overflow:auto;">
		    		{{universities.name}}
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" style="z-index:10;">
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Universidad</th>
					            <th data-title="País" >Sigla</th>
					            <th data-title="País" >País</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
						    <tr ng-repeat="university in universities" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{university.original_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{university.short_name}}
						        </td>
						        <td data-title="País" style="padding-left:0px; padding-right:0px;" >
							        <img ng-src="images/flags/{{university.country_code | lowercase}}.gif " style="display:inline"/>
						        </td>
						        <td><ng-md-icon icon="add" style="fill:#00BCD4" size="30" ng-click="addContryToAgreement(university)"></ng-md-icon></div></td>
						    </tr>
						</tbody>
					</table>
		    	</div>
		    	<div flex="50" style="overflow:auto;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" style="z-index:10;">
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Universidad</th>
					            <th data-title="País" >Sigla</th>
					            <th data-title="País" >País</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody">
						    <tr ng-repeat="university in newAgreement.universities" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{university.original_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{university.short_name}}
						        </td>
						        <td data-title="País" style="padding-left:0px; padding-right:0px;" >
							        <img ng-src="images/flags/{{university.country_code | lowercase}}.gif " style="display:inline">
						        </td>
						        <td><ng-md-icon icon="undo" style="fill:#00BCD4" size="30" ng-click="removeContryToAgreement(university)"></ng-md-icon></div></td>
						    </tr>
						</tbody>
					</table>
		    	</div>
	    	</div>
    	</div>


    </mt-wz-step>
    <mt-wz-step title="Step 3" step-img="views/step3.svg" style="height:100%;">
    		<div layout="row" style="height:100%;">
		    	<div style="overflow:auto;height:100%;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Nombre</th>
					            <th data-title="País" >Apellido</th>
					            <th data-title="País" >Institucion</th>
					            <th data-title="País" >In</th>
					            <th data-title="País" >Out</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
						    <tr ng-repeat="contact in newAgreement.Contacts track by $index" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_given_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_family_name}}
						        </td>
						    	<td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.org_short_name}}
						        </td>
<!-- 						        <td><ng-md-icon icon="add" style="fill:#10BCD4" size="30" ng-click="selectContactIn(contact)"></ng-md-icon></div></td>
						        <td><ng-md-icon icon="add" style="fill:#10BCD4" size="30" ng-click="selectContactOut(contact)"></ng-md-icon></div></td> -->
						        <td>
						        	<md-checkbox ng-model="contact.in" aria-label="Checkbox 1">
        							</md-checkbox>
        						</td>
        						<td>
						        	<md-checkbox ng-model="contact.out" aria-label="Checkbox 1">
        							</md-checkbox>
        						</td>
						    </tr>
						</tbody>
					</table>
		    	</div>
<!-- 		    	<div flex="33" style="overflow:auto;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Universidad</th>
					            <th data-title="País" >Sigla</th>
					            <th data-title="País" >País</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
						    <tr ng-repeat="contact in newAgreement.selectedContactsIn track by $index" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_given_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_family_name}}
						        </td>
						        <td><ng-md-icon icon="undo" style="fill:#00BCD4" size="30" ng-click="removeContactFromAgreementIn(contact)"></ng-md-icon></div></td>
						    </tr>
						</tbody>
					</table>
		    	</div> -->
<!-- 		    	<div flex="33" style="overflow:auto;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Universidad</th>
					            <th data-title="País" >Sigla</th>
					            <th data-title="País" >País</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
						    <tr ng-repeat="contact in newAgreement.selectedContactsOut track by $index" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_given_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{contact.person_family_name}}
						        </td>
						        <td><ng-md-icon icon="undo" style="fill:#00BCD4" size="30" ng-click="removeContactFromAgreementOut(contact)"></ng-md-icon></div></td>
						    </tr>
						</tbody>
					</table>
		    	</div> -->
		    </div>



    </mt-wz-step>
    <mt-wz-step title="Step 4" step-img="views/step3.svg" style="height:100%;">
    		<div layout="row" style="height:100%;">
		    	<div flex="50" style="overflow:auto;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Universidad</th>
					            <th data-title="País" >Sigla</th>
					            <th data-title="País" >País</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
						    <tr ng-repeat="org in newAgreement.orgs2Lvl track by $index" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{org.short_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{org.short_name}}
						        </td>
						        <td><ng-md-icon icon="add" style="fill:#10BCD4" size="30" ng-click="selectOrg2Lvl(org)"></ng-md-icon></div></td>
						    </tr>
						</tbody>
					</table>
		    	</div>
		    	<div flex="50" style="overflow:auto;">
		    		<table id="table" class="table table-hover table-mc-light-blue fixed_headers" >
					    <thead>
					        <tr>
					            <th data-title="Universidad"  >Universidad</th>
					            <th data-title="País" >Sigla</th>
					            <th data-title="País" >País</th>
					        </tr>
					    </thead>
					    <tbody id="universityBody" when-scroll-ends="loadUniversities()">
						    <tr ng-repeat="org in newAgreement.selectedOrgs2Lvl track by $index" >
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{org.short_name}}
						        </td>
						        <td data-title="Universidad" ng-click="openUniversityInfo(university)">
						            {{org.short_name}}
						        </td>
						        <td><ng-md-icon icon="undo" style="fill:#00BCD4" size="30" ng-click="removeOrg2LvlFromAgreement(org)"></ng-md-icon></div></td>
						    </tr>
						</tbody>
					</table>
		    	</div>
		    </div>

    </mt-wz-step>

    <mt-wz-step title="Step 5" step-img="views/step3.svg" style="height:100%;overflow:auto;">
        <table id="tableDataPlazas" class="tablaQSeVe table table-hover table-mc-light-blue">
            <thead>
                <tr>
                	<th></th>
                	<th>UNC</th>
                    <th ng-repeat="(key, data) in newAgreement.selectedOrgs2Lvl track by $index">{{data.short_name}}</th>
                </tr>
            </thead>
            <tbody>
            <form name="plazasForm">
                <tr ng-repeat="(key, data) in newAgreement.universities">
                	<td>{{data.short_name}}</td>
                	<td>
                		<div layout="row">	
							<md-input-container style="width:50px;"><input name="newAgreement.plazasInUNC{{$index}}" ng-model="newAgreement.plazasIn[data.id]['UNC']">
							</input></md-input-container> - 
							<md-input-container style="width:50px;"><input name="newAgreement.plazasInUNC{{$index}}" ng-model="newAgreement.plazasOut[data.id]['UNC']">
							</input></md-input-container>
                		</div>
                	</td>
                	<td ng-repeat="(key, data) in newAgreement.selectedOrgs2Lvl track by $index">
                		<div layout="row">
						 	<md-input-container style="width:50px;"><input name="newAgreement.plazasIn{{$parent.$index}}{{$index}}" ng-model="newAgreement.plazasIn[$parent.data.id][data.id]">
						 	</input></md-input-container> - 
						 	<md-input-container style="width:50px;"><input name="newAgreement.plazasOut{{$parent.$index}}{{$index}}" ng-model="newAgreement.plazasOut[$parent.data.id][data.id]">
						 	</input></md-input-container>
						</div>
                	</td>
                    <!--<td data-title="Titulo" ng-repeat="(key, data) in newAgreement.universities track by $index">{{data.short_name}}</td>-->
                </tr>
            </form>
            <md-button ng-click="submitAgreement()">Subir</md-button>
            </tbody>
        </table>


    </mt-wz-step>
   

  </mt-wizard>

</div>
</md-dialog>